
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/font-awesome/css/font-awesome";
@import "node_modules/bxslider/dist/jquery.bxslider";

@font-face {
  font-family: Heuristica-Regular;
  src: url(../fonts/Heuristica-Regular.otf);
}

@font-face {
  font-family: RobotoCondensed-Light;
  src: url(../fonts/RobotoCondensed-Light.ttf);
}

body{
  font-family: RobotoCondensed-Light;
}

.container{
  width: 1260px;
  margin: auto;
}
.container-fluid{
  max-width: 1080px;
}

header{
  .navbar{
    background: transparent;
    border-color: #d3d6da;
    .navbar-header{
      a{
        padding: 5px 15px;
        text-align: center;
        width: 215px;
        font-size: 15px;
        text-transform: uppercase;
        span{
          font-size: 10px;
          display: block;
          text-transform: lowercase;
        }
      }
    }
    .collapse{
      .nav{
        li{
          &.active{
            a{
              background: transparent;
              text-decoration: underline;
            }
          }
          a{
            &:hover{
              text-decoration: underline;
            }
          }
        }
        &.navbar-right{
          padding: 0;
          a{
            padding: 5px 15px;
            text-align: center;
            font-size: 12px;
            span{
              font-size: 11px;
              text-transform: uppercase;
              display: block;
            }
          }
        }
      }
    }
  }
}

.main-nav{
  &-body{
    position: relative;
    border-bottom: 2px solid #b6b6b6;
    &:before{
      content: "";
      position: absolute;
      left: -50px;
      top: 0px;
      background: url(../images/6529fff9c7.png);
      width: 140px;
      height: 192px;
      background-size: cover;
    }
    &:after{
      content: "";
      position: absolute;
      right: -41px;
      top: 0px;
      background: url(../images/6529fff9c7.png);
      width: 140px;
      height: 192px;
      background-size: cover;
    }
  }
  .col-md-5{
    padding-left: 30px;
    h1{
      margin-top: 5px;
    }
    h2{
      margin-top: 0;
      font-size: 20px;
    }
  }
  &__description{
    position: relative;
    padding-left: 22px;
    font-size: 12px;
    line-height: 14px;
    .left-text{
      transform: rotate(-90deg);
      position: absolute;
      left: -32px;
      top: 30px;
      text-transform: uppercase;
      color: #d5d6da;
    }
  }
  &__right{
    text-align: center;
    padding: 15px;
    padding-bottom: 0;
    a{
      color: black;
    }
  }
  &__svg{
    &--first{
      margin-top: 0px;
      width: 154px;
      background: url(/images/0913585e-7bdd-49dc-a18d-b08b1178a8d1.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      &:hover{
        .hover-img{
          transition: 0.4s;
          opacity: 1;
        }
      }
      .hover-img{
        position: absolute;
        left: 16px;
        right: 0;
        top: 16px;
        bottom: 0;
        width: 150px;
        opacity: 0;
      }
    }
    &--second{
      padding-top: 15px;
      background: url(/images/e7239da9-afae-4d8c-bbae-d801094425a8.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      &:hover{
        .hover-img{
          transition: 0.4s;
          opacity: 1;
        }
      }
      .hover-img{
        position: absolute;
        left: 48px;
        top: 45px;
        width: 110px;
        opacity: 0;
        transform: rotateX(180deg);
      }
    }
    &--third{
      margin-top: -30px;
      position: relative;
      top: 20px;
      background: url(/images/8205f225-c291-4b1b-a6e2-9ab50690d72a.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 10px;
      &:hover{
        .hover-img{
          transition: 0.4s;
          opacity: 1;
        }
      }
      .hover-img{
        position: absolute;
        left: 37px;
        top: 27px;
        width: 100px;
        opacity: 0;
      }
    }
  }
}

.main-services{
  &-body{
    border-bottom: 2px solid #b6b6b6;
    padding-bottom: 13px;
    background: url(../images/0001111.png);
    background-size: contain;
  }
  &__item{
    &:hover{
      .main-services__icon{
        img{
          opacity: 0;
        }
        .text_hover{
          display: block;
          opacity: 1;
          transition: 0.4s;
        }
      }
    }
    a{
      position: relative;
      display: block;
      text-align: center;
      .btn-default{
        border-radius: 0;
        padding: 5px 20px;
      }
    }
  }
  &__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    img{
      position: relative;
      top: 60px;
      transition: 0.4s;
    }
    &--first{
      transform: translateX(-50%)translateY(-90%);
    }
    .text_hover{
      display: block;
      opacity: 0;
      transition: 0.4s;
    }
  }
  &__svg{
    position: relative;
    &:before{
      content: '';
      background: white;
      position: absolute;
      top: 41px;
      left: 61px;
      right: 57px;
      bottom: 45px;
    }
  }
}

.main-products{
  padding: 30px;
  .container-fluid{
    padding: 0 45px;
  }
  .col-md-1{
    width: 20%;
    padding: 3px;
  }
  .product{
    text-align: center;
    border: 1px solid #b1b1b1;
    min-height: 310px;
    padding-top: 10px;
    a{
      display: block;
      text-decoration: none;
    }
    .img-responsive{
      max-height: 150px;
      margin: auto;
    }
    &__title{
      padding-top: 8px;
      font-size: 20px;
      text-transform: uppercase;
      color: #3e3e3f;
    }
    &__desc{
      color: #758289;
      font-size: 12px;
    }
    &__desc-sec{
      font-size: 10px;
      color: #5b5b5b;
    }
    &__price{
      color: #393a3c;
      font-size: 18px;
      padding-top: 7px;
      font-weight: bold;
    }
    &__price-dollar{
      color: #393a3c;
      font-size: 10px;
      padding-bottom: 5px;
    }
  }
}

footer{
  background: white;
  .container{
    .footer-body{
      border-top: 1px solid #f2f4f5;
      h4{
        color: #416275;
        font-size: 16px;
        margin-bottom: 5px;
      }
      ul{
        list-style-type: none;
        column-count: 4;
        padding: 0;
        li{
          display: block;
          a{
            color: black;
          }
        }
      }
      .soc{
        a{
          i{
            color: #a0abb7;
            font-size: 30px;
            transition: 0.4s;
            &.fa-instagram{
              font-size: 32px;
              &:before{
                position: relative;
                top: 1px;
              }
            }
          }
          &:hover{
            i{
              color: black;
            }
          }
        }
      }
      .subs{
        padding: 5px;
      }
    }
  }
}

.radio-checkbox{
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
  }
  input[type=radio],
  input[type=checkbox] {
    display: none;
  }
  label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid #b4b6b8;
  }

  .radio label:before {
    border-radius: 8px;
  }
  .checkbox label {
    margin-bottom: 10px;
  }
  .checkbox label:before {
    border-radius: 3px;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #405464;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
  }

  input[type=checkbox]:checked + label:before {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    color: #405464;
    text-align: center;
    line-height: 15px;
  }
}

.catalog{
  margin-top: -20px;
  .catalog-sidebar{
    padding-top: 20px;
    color: #7e7e7e;
    border-left: 1px solid #b4b6b8;
    border-right: 1px solid #b4b6b8;
    h4{
      font-size: 16px;
      color: #405663;
      font-weight: bold;
      i{
        float: right;
        &:before{
          content: "\f0d8";
        }
      }
      &.collapsed{
        i{
          &:before{
            content: "\f0d7";
          }
        }
      }
    }
    label{
      font-weight: 100;
    }
    .checked-label{
      padding-bottom: 10px;
      label{
        border: 1px solid #b4b6b8;
        padding: 2px;
        color: #7e7e7e;
      }
      span{
        display: block;
      }
    }
    .checkbox-filter{
      padding-bottom: 10px;
    }
    .modal-filter{
      padding-bottom: 10px;
    }
    .btn-default{
      border: 1px solid #405663;
      border-radius: 0;
      padding: 5px 10px;
      color: #405663;
    }
    .range-filter{
      padding-bottom: 10px;
      #slider-range{
        background: #c4c3c7;
        height: 1px;
        border: 0;
        .ui-slider-range{
          height: 2px;
          background: #35647c;
        }
        span{
          border-radius: 50px;
          margin-top: -4px;
        }
      }
      .range-input{
        padding-top: 15px;
        input{
          padding: 5px 10px;
          width: 90px;
        }
      }
    }
  }
  .catalog-content{
    padding-top: 15px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 70px;
      left: 15px;
      right: 15px;
      height: 1px;
      background: #c4c5c7;
    }
    .categories{
      float: left;
      .nav{
        li{
          &.active{
            a{
              background: transparent;
              color: #89898b;
            }
          }
          a{
            color: #dadde0;
            font-size: 20px;
            &:hover,
            &:focus{
              color: #89898b;
              background: transparent;
            }
          }
        }
      }
    }
    .sort-by{
      padding-top: 15px;
      select{
        border: 0;
        background: transparent;
        font-size: 16px;
      }
    }
    .main-products{
      padding: 20px 10px;
      .col-md-3{
        padding: 5px 5px;
      }
    }
  }
}

.product-page{
  .bx-wrapper{
    border: 0;
    box-shadow: none;
  }
  #bx-pager{
    img{
      padding: 15px 5px;
      border: 1px solid #b6b6b9;
      margin-bottom: 10px;
    }
  }
  &__title{
    padding-top: 8px;
    font-size: 30px;
    text-transform: uppercase;
    color: #3e3e3f;
  }
  &__desc{
    color: #758289;
    font-size: 16px;
  }
  &__desc-sec{
    font-size: 12px;
    color: #5b5b5b;
  }
  &__price{
    display: inline-block;
    color: #393a3c;
    font-size: 28px;
    padding-top: 7px;
  }
  &__price-dollar{
    display: inline-block;
    color: #393a3c;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .company-desc{
    padding: 25px;
    border: 1px solid #b6b6b9;
    font-size: 12px;
    .img-responsive{
      margin: auto;
    }
  }
  .btn-default{
    display: block;
    border: 1px solid #405663;
    border-radius: 0;
    padding: 5px 10px;
    color: #6a7688;
    font-size: 20px;
    font-weight: bold;
  }
  .product-descriptions{
    margin-top: 30px;
    .border-right{
      border-right: 1px solid #b6b6b9;
    }
    ul{
      padding: 0;
      li{
        display: block;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 10px;
          background: #b6b6b9;
          height: 1px;
        }
        span{
          background: white;
          z-index: 1000;
          position: relative;
          padding: 0 10px;
          color: #b6b6b9;
          font-style: italic;
          &.right{
            font-style: normal;
            color: black;
            float: right;
            max-width: 350px;
            text-align: right;
          }
        }
      }
    }
  }
}

.pages{
  .pages-menu{
    list-style: none;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      width: 1px;
      top: -20px;
      background: #b4b4b6;
    }
    li{
      padding-bottom: 15px;
      a{
        font-size: 25px;
        color: #415c6b;
      }
      ul.children{
        list-style: none;
        padding: 0;
        li{
          padding-bottom: 5px;
          a{
            font-size: 16px;
            color: #4a4c4d;
            font-weight: 100;
          }
        }
      }
    }
  }
  h1{
    text-align: center;
  }
  .content{
    //min-height: 1000px;
  }
}

.contacts{
  padding-bottom: 100px;
  &__svg{
    position: relative;
    .text{
      position: absolute;
      left: 0;
      top: 70px;
      right: 0;
      bottom: 0;
      text-align: center;
    }
  }
  #map{
    padding: 10px;
    border: 1px solid rgba(115, 126, 135, 0.51);
  }
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: 10px;
  }
  .slider{
    border: 1px solid rgba(115, 126, 135, 0.51);
    .slide{
      img{
        max-height: 128px;
        margin: auto;
      }
    }
  }
}

@media(max-width:576px){
  .container{
    width: 100%;
  }
  header{
    .container{
      padding: 0;
    }
  }

  .main-nav{
    &-body{
      &:before, &:after{
        content: none;
      }
    }
    .container{
      padding: 0;
    }
    &__left{
      text-align: center;
    }
    &__svg{
      &--first{
        width: 100px;
      }
    }
  }

  .main-services{
    .container{
      padding: 0;
    }
    &-body{
      padding: 30px 0;
    }
    &__icon{
      img{
        width: 100%;
      }
    }
  }

  .main-products{
    padding: 15px;
    .container-fluid{
      padding: 15px;
    }
    .col-md-1{
      width: 100% !important;
    }
  }

  footer{
    padding: 15px 0;
    .container{
      padding: 0;
    }
  }

  .catalog{
    .catalog-sidebar{
      min-height: inherit !important;
    }
    .catalog-content{
      &:before{
        content: none;
      }
      .sort-by{
        text-align: center;
        float: none !important;
      }
    }
  }

  .product-page{
    .company-desc{
      margin-top: 30px;
    }
  }

  .pages{
    .pages-menu{
      height: inherit !important;
      padding: 0;
      & > li{
        width: 50%;
        float: left;
      }
      &:before{
        content: none;
      }
    }
  }

  .contacts{
    .slider{
      border: 0;
    }
  }
}